[Unit]
Description=Dropbox Service
After=network.target

[Service]
Restart=always
ExecStart=/~/.dropbox-dist/dropboxd
User=nikolako

[Install]
WantedBy=multi-user.target
