[Unit]
Description=Dropbox Service
After=network.target

[Service]
Restart=always
ExecStart=/home/nikolako/.dropbox-dist/dropboxd
User=nikolako

[Install]
WantedBy=multi-user.target
